.root{
    display: flex;
    justify-content: flex-start;
    vertical-align: bottom;
    align-items: center;
    width: 300px;
    height: 50px;
    margin: 5px;
    padding: 5px;
    margin-left: 100px;
    text-decoration: none;
    list-style: none;
    float:inline-end ;
    @media only screen and (max-width: 550px) {
        margin-left: 5px;
        width: 100%;
        justify-content: center;
    }
    li { 
        a {
            color:white;
            font-size: 22px;
            font-weight: 500;
            display: inline-block;
            text-align: center;
            line-height: 40px;
            width: 40px;
            height: 40px; 
            margin: 5px;
            border: 1px solid #333;
            border-radius: 20px;
            background-color: #333;
            transition: 0.5s;
            cursor:  pointer;

            @media only screen and (max-width: 550px) {
            width: 30px;
            height: 30px;
            font-size: 18px;
            line-height: 31px;
            }
                &:hover {
                    background-color: orange;
                    color: #333; 
                    transition: 0.5s;  
                }         
        }
    }

    global{
        .previous-disabled li {
            color:white;
        }
    }
    :global {
        .selected {
            a {
                color:#333;
                background-color: orange;
            }
        }
    }

}