.root {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 95vw;
    min-width: 500px;
    margin-top: 70px;
    padding: 5px;
    .container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        border: 4px solid #333;
        border-radius: 20px;
        min-width: 550px;
        margin-bottom: 10px;
    }
    .about {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        min-width: 550px;

        & h4 {
            margin: 10px 0;
        }

        .addresses{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        width: 95%;
        border-bottom: 3px solid #333;
            .address {
            border-top: 1px solid #333;
                & h5, h6, span {
                    margin: 5px;
                    font-size: 17px;
                }
            }
        }
        .info {
            display: flex;
            justify-content: center;
            max-width: 550px;
            width: 95%;
            font-size: x-small;
        }
    }
    

}