.root{
    button {
        width: 230px;
        min-height: 40px;
        border: 2px solid #333;
        color: white;
        border-radius: 20px;
        background-color: #333;
        transition: 0.5s;
        font-size: 16px;
        cursor: pointer;

        &:hover {
            color:#333;
            background-color: orange;
            transition: 0.5s;
        }
    }
}