.root{
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 200px;
    padding: 10px;
    font-size: 15px;
    transition: 0.5s;
    cursor: pointer;

    &:hover {
        background-color: #333;
        color:aliceblue; 
    }
    
    .popup{
        position: absolute;
        float: right;
        background-color: #333;
        padding: 5px;
        width: 210px;
        top: 30px;
        left: 0;
        
        ul{  
        margin: 0;
        color: aliceblue;
        list-style: none;
        padding: 0;
        }

         ul li:hover {
            background-color: aliceblue;
            color: #333;
        }
    }

}